body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #F13C6E;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 15px;
}

img{
    background-color: gray;
}

.float_left {
    float: left;
}
.float-right {
    float: right;
}

.clear-float{
    clear: both;
}

.wrapperHeaderContacts{
    margin: 0 auto;
    max-width: 410px;
    padding: 16.5px 0;
}

.header_contacts>li{
    display: inline-block;
    margin-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.header_contacts>li:last-child{
    margin-right: 0;
}

.header_contacts>li>a{
    transition: 0.5s;
    color:#333333;
}

.header_contacts>li>a:hover{
    color: #F13C6E;
}

.sectionHeaderWhite{
    background-color: white;
    border-bottom: 1px solid #EFEFEF;
}

.logo>img{
    background-color: white;
    margin: 20px 0;
}

.wrapperHeaderTel{
    padding: 40px 0;
}

.wrapperHeaderTel>div{
    display: inline-block;
}

.tel{
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.tel>a{
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}


.header-button{
    background-color: #ffff;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    color: #000000;
    cursor: pointer;
    transition: 1s;
}

.header-button:hover{
    background-color: #F13C6E;
    color: white;
}

nav{
    background-color: white;
    padding: 30px 0;
}

.navigation{
    text-align: center;
}

.navigation>li{
    display: inline-block;
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.navigation>li:last-child{
    margin-right: 0;
}

.banner{
    height: 604px;
    padding-top: 192px;
    color: #ffffff;
    background-image: url("../img/banner.png");
    background-position: 30%;
    background-size: cover;
}
.banner h1{
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 700;
    line-height: 56px;
}
.banner p {
    font-size: 14px;
    line-height: 20px;
    max-width: 308px;
    margin-bottom: 50px;
}
.banner-button {
    background-color: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
}

.banner-button:hover{
    background-color: #FFFFFF;
    color: #F13C6E;
    font-weight: 700;
}

.title{
    margin-top: 80px;
    margin-bottom: 38px;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.wrapper-car{
    font-size: 0px;
}

.wrapper-car-item{
    padding: 25px 30px;
    font-size: 14px;
    display: inline-block;
    background-color: #FFFFFF;
    text-align: center;
    max-width: 255px;
    box-sizing: border-box;
    transition: 0.5s;
}

.wrapper-car-item:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.wrapper-car-item:not(:last-child){
    margin-right: 30px;
}

.wrapper-car-text {
    margin: 20px 0px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}
.wrapper-car-price{
    font-size: 1.313rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.wrapper-car-button{
    width: 100%;
    max-width: 130px;
    height: 35px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #F13C6E;
    border-radius: 30px;
    transition: 1s;
    color: #FFFFFF;
    cursor: pointer;
    /*border: none;*/
    border: 1px solid #F13C6E;
}
.wrapper-car-button:hover{
    border: 1px solid #F13C6E;
    background-color: #FFFFFF;
    color: #F13C6E;
}

.pinkBox{
    width: 540px;
    background-color: #F13C6E;
    color: white;
    padding: 35px 40px;
    box-sizing: border-box;
    margin: 100px 0;
}

.pinkBoxItems>h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.pinkBoxItems>p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0;
}


.pinkBoxImg>img{
    background-color: #F13C6E;
}

.pinkBoxEmail{
    background-color: white;
    border-radius: 35px;
    width: 225px;
    height: 35px;
    color: #F13C6E;
    padding: 9px 25px;
    box-sizing: border-box;
}

.car>img{
    margin: 21px 0;
}

.pinkCardButton{
    height: 35px;
}

.impulseWrapper{
    font-size: 0;
}

.impulsImg {
    border: 1px solid #EFEFEF;
    display: inline-block;
    padding: 35px 63px;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.impulsImg:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}





